/* Post Comments Form
 ----------------------------------------------------------------------------- */

.wp-block-post-comments-form {

    // Mock blockGap on the comment form.
    .comment-form {
        display: flex;
        flex-direction: column;
        margin-top: var(--wp--preset--spacing--10);

        &> * {
            margin-block-start: 0;
            margin-block-end: var(--wp--preset--spacing--10);
        }
    
        &> * + * {
            margin-block-start: var(--wp--preset--spacing--10);
            margin-block-end: 0;
        }
    }

    .required-field-message,
    .comment-notes {
        display: none !important;
    }

    .comment-reply-title {
        font-size: var(--wp--preset--font-size--x-large);
        margin: 0;

        small {
            display: block;
            font-size: var(--wp--preset--font-size--medium);
            font-weight: 400;
            margin-top: 0.4rem;
        }
    }

    .comment-form-cookies-consent {
        align-items: flex-start;
        margin-block-start: var(--wp--preset--spacing--20);

        label {
            font-size: var(--wp--preset--font-size--small);
            font-weight: normal;
            margin-bottom: 0;
        }

        #wp-comment-cookies-consent {
            margin: .3em .5rem 0 0;
        }
    }

    .form-submit.wp-block-button {
        margin-top: var(--wp--preset--spacing--30);
    }
    
    // For when Akismet is active. 
    .akismet_comment_form_privacy_notice {
        display: none;
        // font-size: var(--wp--preset--font-size--small);
        // margin-top: var(--wp--preset--spacing--medium);
    }

    input[type="submit"] {
        width: fit-content;
    }
}