/* Categories
 ----------------------------------------------------------------------------- */

.wp-block-categories {
    &.wp-block-categories-list,
    .wp-block-categories__list,
    &.wp-block-categories-list li ul,
    .wp-block-categories__list li ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem 0.7rem;
        padding: 0;
    }

    &.wp-block-categories-list li,
    .wp-block-categories__list li {

        // Due to the fact that we cannot style the post count separately.
        color: var(--wp--preset--color--theme-5);

        // We have to manually set due to List block styling cascading into this block.
        list-style: none;
        margin: 0;
    }

    &.wp-block-categories-list li ul,
    .wp-block-categories__list li ul {
        padding-left: 1rem;
        margin: 0.5rem 0 0;
    }

    /* Block Style: Horizontal
     --------------------------------------------- */
     
    &.is-style-horizontal {
        &.wp-block-categories-list,
        .wp-block-categories__list {
            flex-direction: row;
            flex-wrap: wrap;
        }

        // The "Show hierarchy" option is not supported with the Horizontal style.
        &.wp-block-categories-list li ul,
        .wp-block-categories__list li ul {
            display: none;
        }
    }

    /* Block Style: Outline
     -------------------------------------------- */
     &.is-style-outline {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--wp--preset--spacing--10);

        li {
            background-color: var(--wp--preset--color--theme-2);
            border: 1px solid var(--wp--preset--color--theme-4);
            border-radius: var(--wp--custom--border--radius--round);
            cursor: pointer;
            display: inline-block;
            font-size: var(--wp--preset--font-size--small) !important;
            font-weight: normal;
            line-height: 1.2;
            padding-right: calc(var(--wp--preset--spacing--10) * 1.5);
            padding-right: 12px;
            transition: background-color var(--wp--custom--transition--duration) ease-out;

            a {
                color: var(--wp--preset--color--theme-6);
                display: inline-block;
                padding: 6px 0 6px 12px;
                text-decoration: none;
                text-transform: none;
            }

            &:hover {
                background-color: var(--wp--preset--color--theme-1);

                a {
                    text-decoration: none;
                }
            }

            .tag-link-count {
                color: currentColor;
            }
        }
    }
}