<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"dimensions":{"minHeight":"70vh"},"spacing":{"margin":{"top":"-3rem","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"center","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="min-height:70vh;margin-top:-3rem;margin-bottom:0"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":null}},"layout":{"type":"constrained","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-6"}}},"typography":{"fontStyle":"normal","fontWeight":"300","fontSize":"5rem"}},"textColor":"theme-6","fontFamily":"geist-mono"} -->
    <h1 class="wp-block-heading has-text-align-center has-theme-6-color has-text-color has-link-color has-geist-mono-font-family" style="font-size:5rem;font-style:normal;font-weight:300">404</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">This page could not be found. <br>Maybe try a search?</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:spacer {"height":"4px"} -->
    <div style="height:4px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search posts","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"no-button","style":{"border":{"width":"1px"},"layout":{"selfStretch":"fit","flexSize":null}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"base"} /-->